/* Reset og border-box á allt */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Leturgerðir */

@font-face {
  font-family: 'Lora';
  src: url('.fonts/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 400; /* Set the appropriate font weight */
  font-style: normal; /* This is not italic */
}

@font-face {
  font-family: 'Lora';
  src: url('.fonts/Lora-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400; /* Set the appropriate font weight */
  font-style: italic; /* This is italic */
}

@font-face {
  font-family: 'Noto Sans Display';
  src: url('.fonts/NotoSansDisplay-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400; /* Set the appropriate font weight */
  font-style: normal; /* This is not italic */
}

@font-face {
  font-family: 'Noto Sans Display';
  src: url('.fonts/NotoSansDisplay-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400; /* Set the appropriate font weight */
  font-style: italic; /* This is italic */
}

/** Hér skal skilgreina leturgerðir **/

/* Stillingar */

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --font-base-body-px: 16px;
  --spacing: 1rem;

  /* Hámarksbreidd á efni */
  --max-width: 900px;

  /* Border breiddir */
  --border-small: 1px;
  --border-large: 8px;
  --border-radius: 6px;

  /* Litir */
  --color-gold: #ffe7ae;
  --color-gold-light: #fff1cf;
  --color-dark: #2f0505;
  --color-light: #fff9ee;

  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: 'Noto Sans Display', Helvetica, Arial, sans-serif;
  --font-family-heading: 'Lora', Georgia, serif;
}

/* Almennt */

/** Skilgreininar sem gilda fyrir allt efni og nota type selectora **/

html,
input,
select,
button {
  font-size: var(--font-base-body-px);
  font-family: var(--font-family-base);
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
}

h2,
h3{
  margin-bottom: var(--spacing);
}

a {
  color: inherit;
  background-color: inherit;
}

img {
  max-height: 400px;
  max-width: 100%;
  object-fit: cover;
  object-position: top;
  margin-bottom: calc(0.5*var(--spacing));
}

/** Hjálpar class sem felur sjónrænt en skjálesarar lesa **/
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Layout */

.wrapper {
  /** Þessi selector er utanum allt og ætti að stýra plássi á milli efnis **/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/** Haus **/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
  background-color: var(--color-dark);
  color: var(--color-light);
  padding-bottom: var(--spacing);
}

/** Valmynd **/

.navigation {
  display: flex;
  justify-content: center;
  border-bottom: var(--border-large) solid var(--color-gold);
  background-color: var(--color-gold-light);
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  margin-bottom: var(--spacing);
}

.navigation ul {
  display: flex;
  gap: var(--spacing);
  list-style-type: none;
}

/** Meginmál **/

.main {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: 0 auto;
  flex: 1;
  justify-content: center;
}

/** Fótur **/

.footer {
  display: flex;
  justify-content: center;
  gap: var(--spacing);
  background-color: var(--color-dark);
  color: var(--color-light);

  margin-top: var(--spacing);
  padding: var(--spacing);
  border-top: 8px solid var(--color-gold);
}

.footer .footer_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .footer_section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Box! */

.boxes {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  row-gap: calc(2*var(--spacing));
  column-gap: calc(0.5*var(--spacing));
  margin-bottom: calc(2*var(--spacing));
}

.boxes .box {
  display: flex;
  flex-direction: column;
  background-color: var(--color-gold);
  flex-basis: 48%;
  border-radius: var(--border-radius);
  padding: calc(0.4*var(--spacing));
}

.box a{
  display: flex;
  margin-top: var(--spacing);
  font-weight: bold;
}

.box h3{
  border-bottom: calc(0.1*var(--spacing)) solid black;
}

.box p{
  display: flex;
  flex-grow: 1;
}

/** Og fleiri selectorar... **/

/* Opnunartími */

.box dt{
  font-weight: bold;
}

.box dd{
  margin-bottom: calc(var(--spacing));
}

/**
Hér eru skilgreiningar sem endurnýta má úr v3, með takmörkunum.
**/

.saga{
  margin-bottom: var(--spacing);
}

/* Matseðill */

table {
  margin-bottom: var(--spacing);
  border-spacing: 0;
}

table th,
table td {
  padding: calc(0.5*var(--spacing));
}

table tbody tr:nth-child(2n + 1) {
  background-color: var(--color-gold);
}

/**
Hér eru skilgreiningar sem endurnýta má úr v3, með takmörkunum.
**/

/* Pöntunarform */

fieldset {
  margin-bottom: var(--spacing);
}

fieldset legend {
  font-weight: bold;
}

fieldset div {
  margin-bottom: var(--spacing);
}

fieldset div label {
  display: flex;
}

fieldset input,
fieldset select,
fieldset textarea {
  padding: calc(0.5*var(--spacing));
}

fieldset input[type='checkbox'] {
  margin-right: calc(0.5*var(--spacing));
}

form button {
  padding: calc(0.25*var(--spacing));
  border-radius: 6px;
}

/**
Hér eru skilgreiningar sem endurnýta má úr v3, með takmörkunum.
**/