/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
    box-sizing: border-box;
}
/* og látum erfast á allt */
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

header{
    background-color:#2f0505;
    padding: 1rem;
    text-align: center;
    border-bottom: 8px solid;
    border-bottom-color: #ffe7ae;
    color:beige;
}

nav{
    background-color: #fff9ee;
    padding: 1rem;
    text-align: center;
    padding: 1rem;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline;
    padding-right: 1rem;
}

nav ul li:last-child{
    padding-right: 0;
}

nav .link{
    color:rgb(124, 26, 9);
}

main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

main .link{
    color:black;
}

main .box{
    padding-bottom: 2rem;
    border-bottom: 2px solid;
    border-color: #ffe7ae;
    margin-bottom: 2rem;
}

.table{
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.t_row:nth-child(odd){
    background-color: #ffe7ae;
}

.t_row{
    height: 2rem;
}

.order_input{
    padding: 0.5rem 0 0.5rem 0;
}

.order_label{
    padding: 1rem 0rem 0.5rem 0.5rem;
}

.order_legend{
    padding-left: 0.5rem;
}

.order_box{
    border: 1px solid;
    border-color: #ffe7ae;
}

.h_um{
    padding-bottom: 1rem;
    padding-top:1rem;
}

.dd_item{
    margin-bottom: 1rem;
}

.section{
    margin:1%;
    vertical-align: top;
    width:48%;
    display: inline-block;
}

.um_img img{
    max-width: 100%;
}

.section:nth-of-type(2n){
  margin-right: 0;
}

.no_dot{
    list-style-type: none
}

.footer_index{
    background-color:#2f0505;
    text-align: center;
    border-top: 8px solid;
    border-top-color: #ffe7ae;
}

.footer_box {
    display: inline-block;
    width: 16rem;
    vertical-align: top;
    text-align: center;
    color:beige;
}

.footer_index .link{
    color:beige;
}

.footer_other{
    background-color:#2f0505;
    text-align: center;
    border-top: 8px solid;
    border-top-color: #ffe7ae;
}

.footer_other .box {
    display: inline;
    vertical-align: top;
    color:beige;
}

.footer_other .link{
    color:beige;
}